﻿@page
@using Kermany.Data.Enums
@model Kermany.Pages.Admin.Tbl_Articles.CreateModel

@{
    ViewData["Title"] = "ایجاد مقاله";
}
@{
    Layout = "Shared/_AdminLayout";
}


<div class="row">
    <div class="col-md-9">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tbl_Article.CategoryId" class="control-label"></label>
                <select asp-for="Tbl_Article.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Title" class="control-label"></label>
                <input asp-for="Tbl_Article.Title" class="form-control"/>
                <span asp-validation-for="Tbl_Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Description" class="control-label"></label>
                <input asp-for="Tbl_Article.Description" class="form-control"/>
                <span asp-validation-for="Tbl_Article.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Text" class="control-label"></label>
                <textarea asp-for="Tbl_Article.Text" class="form-control"></textarea>
                <span asp-validation-for="Tbl_Article.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Type" class="control-label"></label>
                <select asp-for="Tbl_Article.Type" class="form-control">
                    <option value="@ArticleTypes.Article">
                        مقاله
                    </option>
                    <option value="@ArticleTypes.Regime">
                        رژیم
                    </option>
                </select>
                <span asp-validation-for="Tbl_Article.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tbl_Article.ImageName" class="control-label"></label>
                <input type="file" name="imagename" class="form-control"/>
                <span asp-validation-for="Tbl_Article.ImageName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Tbl_Article_Text',
            {
                customConfig: '/js/Config.js'
            });

    </script>
}

