﻿@page
@using Kermany.Functions
@model Kermany.Pages.Admin.Tbl_Articles.DeleteModel

@{
    ViewData["Title"] = "حذف مقاله";
}
@{
    Layout = "Shared/_AdminLayout";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Article.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_Article.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Article.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_Article.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Article.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Model.Tbl_Article.CreateDate.ToShamsi()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Article.ImageName)
        </dt>
        <dd class="col-sm-10">
            <img src="/Article/@Model.Tbl_Article.ImageName" style="max-width: 150px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Article.VisitCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_Article.VisitCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Article.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_Article.Category.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tbl_Article.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>
