﻿@page
@using Kermany.Data.Enums
@model Kermany.Pages.Admin.Tbl_Articles.EditModel

@{
    ViewData["Title"] = "ویرایش مقاله";
}
@{
    Layout = "Shared/_AdminLayout";
}

<div class="row">
    <div class="col-md-9">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tbl_Article.Id" />
            <input type="hidden" asp-for="Tbl_Article.CreateDate" />
            <input type="hidden" asp-for="Tbl_Article.VisitCount" />
            <input type="hidden" asp-for="Tbl_Article.ImageName" />

            <div class="form-group">
                <label asp-for="Tbl_Article.CategoryId" class="control-label"></label>
                <select asp-for="Tbl_Article.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Tbl_Article.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Title" class="control-label"></label>
                <input asp-for="Tbl_Article.Title" class="form-control" />
                <span asp-validation-for="Tbl_Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Description" class="control-label"></label>
                <input asp-for="Tbl_Article.Description" class="form-control" />
                <span asp-validation-for="Tbl_Article.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Text" class="control-label"></label>
                <textarea asp-for="Tbl_Article.Text" class="form-control"></textarea>
                <span asp-validation-for="Tbl_Article.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.Type" class="control-label"></label>
                <select asp-for="Tbl_Article.Type" class="form-control">
                    @if (Model.Tbl_Article.Type == ArticleTypes.Article)
                    {
                        <option value="@ArticleTypes.Article" selected="selected">
                            مقاله
                        </option>
                        <option value="@ArticleTypes.Regime">
                            رژیم
                        </option>
                    }
                    else
                    {
                        <option value="@ArticleTypes.Article">
                            مقاله
                        </option>
                        <option value="@ArticleTypes.Regime" selected="selected">
                            رژیم
                        </option>
                    }
                </select>
                <span asp-validation-for="Tbl_Article.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Article.ImageName" class="control-label"></label>
                <input type="file" name="imagename" />
                <img src="/Article/@Model.Tbl_Article.ImageName" alt="تصویر" style="max-width: 150px" />
                <span asp-validation-for="Tbl_Article.ImageName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Tbl_Article_Text',
        {
            customConfig: '/js/Config.js'
        });

</script>
    }
