﻿@page
@using Kermany.Functions
@model Kermany.Pages.Admin.Tbl_Articles.IndexModel

@{
    ViewData["Title"] = "مدیریت مقالات";
}
@{
    Layout = "Shared/_AdminLayout";
}

<p>
    <a asp-page="Create" class="btn btn-success btn-sm">
        ایجاد مقاله
    </a>
</p>
<table class="table">
    <thead>
    <tr>
            <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Article[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Article[0].CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Article[0].VisitCount)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tbl_Article)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.CreateDate.ToShamsi()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitCount)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">ویرایش</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-warning btn-sm">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
