﻿@page
@using Kermany.Functions
@model Kermany.Pages.Admin.Tbl_Users.DeleteModel

@{
    ViewData["Title"] = "حذف کاربر";
    Layout = "Shared/_AdminLayout";
}

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_User.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_User.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_User.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Model.Tbl_User.CreateDate.ToShamsi()
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tbl_User.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>
