﻿@page
@using Kermany.Data.Enums
@model Kermany.Pages.Admin.Tbl_Users.EditModel

@{
    ViewData["Title"] = "ویرایش کاربر";
    Layout = "Shared/_AdminLayout";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tbl_User.CreateDate" />
            <input type="hidden" asp-for="Tbl_User.Id" />
            <input type="hidden" asp-for="Tbl_User.Password" />
            <div class="form-group">
                <label asp-for="Tbl_User.Username" class="control-label"></label>
                <input asp-for="Tbl_User.Username" class="form-control" />
                <span asp-validation-for="Tbl_User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_User.Password" class="control-label"></label>
                <input name="newPassword" class="form-control" />
                <span asp-validation-for="Tbl_User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_User.Role" class="control-label"></label>
                <select asp-for="Tbl_User.Role" class="form-control">
                    @if (Model.Tbl_User.Role == UserRoleTypes.Admin)
                    {
                        <option value="@UserRoleTypes.User">
                            کاربر
                        </option>
                        <option value="@UserRoleTypes.Admin" selected="selected">
                            ادمین
                        </option>
                    }
                    else
                    {
                        <option value="@UserRoleTypes.User" selected="selected">
                            کاربر
                        </option>
                        <option value="@UserRoleTypes.Admin">
                            ادمین
                        </option>
                    }

                </select>
                <span asp-validation-for="Tbl_User.Role" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tbl_User.IsActive" /> @Html.DisplayNameFor(model => model.Tbl_User.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش کاربر" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
