﻿@page
@using Kermany.Functions
@using Kermany.Data.Enums
@model Kermany.Pages.Admin.Tbl_Users.IndexModel

@{
    ViewData["Title"] = "مدیریت کاربران";
    Layout = "Shared/_AdminLayout";
}


<p>
    <a asp-page="Create" class="btn btn-success btn-sm">
        ایجاد کاربر
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_User[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_User[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_User[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_User[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tbl_User)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @if (item.Role == UserRoleTypes.Admin)
                    {
                        <span>
                            ادمین
                        </span>
                    }
                    else
                    {
                        <span>
                            کاربر
                        </span>
                    }
                </td>
                <td>
                    @item.CreateDate.ToShamsi()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">ویرایش</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-warning btn-sm">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
