﻿@page
@model Kermany.Pages.Admin.IndexModel
@using Data.Entities
@using Kermany.Functions

@{
    ViewData["Title"] = "داشبورد";
    Layout = "Shared/_AdminLayout";

    var lstUsers = ViewData["last_users"] as List<Tbl_User>;
    var lstArticle = ViewData["best_article"] as List<Tbl_Article>;
}

<div class="row">
    <div class="col-md-4 col-12">
        <div class="card text-center p-3">
            <p class="fs-4">
                تعداد کاربران
                <br/>
                @ViewData["user_count"]
            </p>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card text-center p-3">
            <p class="fs-4">
                تعداد مقالات
                <br/>
                @ViewData["article_count"]
            </p>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card text-center p-3">
            <p class="fs-4">
                تعداد دسته بندی مقالات
                <br/>
                @ViewData["category_count"]
            </p>
        </div>
    </div>

</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-6 colk-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    نام کاربری
                </th>
                <th>
                    تاریخ ثبت نام
                </th>
            </tr>
            @foreach (var item in lstUsers)
            {
                <tr>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.CreateDate.ToShamsi()
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6 colk-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    عنوان
                </th>
                <th>
                    تعداد بازدید
                </th>
            </tr>
            @foreach (var item in lstArticle)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.VisitCount
                    </td>
                </tr>
            }
        </table>
    </div>
</div>