﻿@page
@model Kermany.Pages.Admin.Tbl_ArticleCategories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

@{
    Layout = "Shared/_AdminLayout";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_ArticleCategory.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_ArticleCategory.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_ArticleCategory.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_ArticleCategory.IsActive)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Tbl_ArticleCategory.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>
