﻿@page
@model Kermany.Pages.Admin.Tbl_ArticleCategories.EditModel

@{
    ViewData["Title"] = "Edit";
}


@{
    Layout = "Shared/_AdminLayout";
}


<div class="row">
    <div class="col-md-9">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tbl_ArticleCategory.Id" />
            <div class="form-group">
                <label asp-for="Tbl_ArticleCategory.Title" class="control-label"></label>
                <input asp-for="Tbl_ArticleCategory.Title" class="form-control" />
                <span asp-validation-for="Tbl_ArticleCategory.Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tbl_ArticleCategory.IsActive" /> @Html.DisplayNameFor(model => model.Tbl_ArticleCategory.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
