﻿@page
@model Kermany.Pages.Admin.Tbl_ArticleCategories.IndexModel

@{
    ViewData["Title"] = "دسته بندی مقالات";
}

@{
    Layout = "Shared/_AdminLayout";
}


<p>
    <a asp-page="Create" class="btn btn-success btn-sm">
        ایجاد دسته بندی
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_ArticleCategory[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_ArticleCategory[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tbl_ArticleCategory)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        ویرایش
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        حذف
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
