/**
 * kermany-mag - Desgin and Developed by kermany team
 * @version v1.0.0
 * @link
 * @license Under license of Kermany Co
 */
.fa {
    font-family: fontAwesome!important;
    font-weight: 100 !important;
}
a.lang {
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
}

.top--row {
    padding-top: 4px;
}

.border--title h1 {
    font-size: 26px;
    font-weight: bold;
}
.modal-open {
    padding-right: 0!important;
}
span.authortag {
    background: #ff5757;
    border: solid 1px #ff5757;
    border-radius: 0 35px 35px 0;
    color: #fff;
    padding: 2px 15px 2px 0;
    margin: 0 0 5px 0;
    display: inline-block;
    font-size: 14px;
}

span.authortag a {
    color: #fff;
    position: relative;
    display: inline-block;
    min-width: 150px;
}

span.authortag a:after {
    position: absolute;
    left: -35px;
    width: 34px;
    height: 34px;
    top: -3px;
    background: #ff5757;
    content: "\f104";
    font-family: FontAwesome;
    text-align: center;
    border-radius: 35px 0 0 35px;
    font-size: 22px;
    line-height: 33px;
}

@media (max-width: 490px) {
    span.authortag {
        font-size: 12px;
    }

}

span.dregBtn {
    background: #fd3566;
    border: solid 1px #fd3566;
    border-radius: 0 35px 35px 0;
    color: #fff;
    padding: 2px 15px 2px 5px;
    margin: 0 0 5px 0;
    display: inline-block;
    font-size: 14px;
}

span.dregBtn a {
    color: #fff;
    position: relative;
    display: inline-block;
    min-width: 150px;
}

span.dregBtn a:after {
    position: absolute;
    left: -40px;
    width: 34px;
    height: 34px;
    top: -3px;
    background: #ea2254;
    content: "\f104";
    font-family: FontAwesome;
    text-align: center;
    border-radius: 35px 0 0 35px;
    font-size: 22px;
    line-height: 33px;
}


img.aligncenter {
    margin: auto;
    display: table;
}

/*.comment--item:last-child .comment--item--title {*/
    /*border: 0;*/
/*}*/

.comment--item:last-child {
    padding-bottom: 30px;
}

h4.comment--item--title {
    margin: 0;
}

.comment--item .comment--main {
    font-size: 14px;
    line-height: 1.5;
}

.item--content ul li {
    list-style-type: disc;
    margin-right: 20px;
}

.related--item {
    height: 200px;
}

.related--item h4 {
    line-height: 21px;
    padding: 0 5px;
}

.inispire--box img {
    height: 335px;
}

.list--item--block h2 {
    line-height: 26px;
    height: 70px;
    overflow: hidden;
}

.list__page .list--item p {
    line-height: 22px;
    margin-bottom: 0;
}

.pagination a.page-numbers {
    padding: 10px;
    margin: 10px;
}

.pagination span.page-numbers.current {
    padding: 5px 20px;
    margin: 5px;
    border-radius: 3px;
    color: #fff;
    background: #ff6868;
}

.accordion.ui-accordion {
    font-family: iransans;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: .5em;
    right: inherit !important;
}

.ui-accordion .ui-accordion-icons {
    padding-left: 3em !important;
    line-height: 1.5;
}

.ui-accordion .ui-accordion-content {
    line-height: 1.8;
}

.item--content {
    margin-top: 20px;
}

.list--item .col-sm-12 {
    margin-bottom: 15px;
}

.list--item .col-sm-12 p {
    margin-bottom: 0;
}


.strj_first .strj_span {
    float: right;
    width: 65%;
    margin-top: 4%;
    margin-right: 2%;
    text-align: justify;
    line-height: 25px;
}

.strj_second .strj_spanl {
    float: left;
    width: 47%;
    margin-top: 3%;

    text-align: justify;
    line-height: 25px;
}

.strj_second {
    background: #fff;

}

.strj li, .strj li {
    margin-right: 10px;
    list-style: square;
}

.strj_txt {
    position: absolute;
    top: 450px;
    z-index: 5;
    right: 3%;
    background: rgba(255, 255, 255, 0.6);
    padding: 16px;
    width: 25%;
    text-align: justify;
    line-height: 26px;
}

.strj_slider {
    margin-bottom: 9%;
}

.shoptag a {
    color: #fff;
    font-weight: bold;
}

.shoptag {
    background: #f36;
    padding: 5px 7px;
    border-radius: 3px;
}

.authortag {
    border: 1px solid #DEDEDE;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #F1F1F1;
}

a, a:hover, a:focus {
    color: #ff6868;
}

.register--btn a:hover,
.register--btn a:active,
.register--btn a:focus {
    color: #fff;
}


.slide--wall {
    opacity: 0;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out;
}

.slide--wall.loaded {
    opacity: 1;
}

.overflow-hidden {
    /*overflow:hidden;*/
}

html, body {
    overflow-x: hidden;
}

.rpt_style_basic .rpt_plan .rpt_head .rpt_price {
    padding: 2px 6px !important;
    font-size: 34px !important;
    line-height: 80px !important;
    font-weight: 300;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
}

.rpt_style_basic .rpt_plan .rpt_title img {

    margin-right: 45% !important;
}

.caption {
    position: absolute;
    top: 57%;
    right: 57px;
    width: 26%;
    background: rgba(0, 0, 0, 0.4);
    line-height: 32px;
    color: #fff;
    padding: 2px;
}


.thumbnail {
    position: relative;
}

#gw_go_portfolio_archiv .gw-gopf-style-vario .gw-gopf-post {
    min-height: 345px !important;
}

.img-big {
    width: 100%;
}

/*====================================================
	recorders
====================================================*/
.recorders-container .wp-video, .recorders-container .mejs-container {
    width: 100% !important;
}

.recorders-container .btn-border {
    background-color: transparent !important;
    border-color: #fff;
    border-radius: 3px;
}

.recorders-container .section-recorder {
    background-position: top left;
    background-size: cover;
    margin-top: 1px;
    margin-bottom: 3px;
}

.recorders-container .section-recorder .container {
    padding-top: 8.5%;
    padding-bottom: 8.5%;
}

@media (max-width: 767px) {
    .recorders-container .section-recorder .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.recorders-container .section-recorder .btn-primary, .recorders-container .section-recorder .contact-form-1 input[type=submit], .contact-form-1 .recorders-container .section-recorder input[type=submit] {
    background-color: #8e8485;
    border-color: #8e8485;
    color: #fff;
    border-radius: 3px;
}

.recorders-container .section-recorder img {
    height: 250px;
    max-width: 100%;
}

.recorders-container .section-recorder .image-container {
    text-align: left;
}

@media (max-width: 767px) {
    .recorders-container .section-recorder .image-container {
        text-align: left;
        margin-bottom: 20px;
    }
    .header {
        margin-top: 124px!important;
    }
}

.recorders-container .section-recorder p {
    margin-bottom: 3px;
}

.recorders-container .section-recorder p:not(:last-of-type) {
    font-weight: 600;
}

@media (max-width: 767px) {
    .recorders-container .section-recorder .container {
        background: rgba(237, 237, 237, 0);
        background: -moz-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.38) 35%, rgba(255, 255, 255, 0.75) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237, 237, 237, 0)), color-stop(35%, rgba(255, 255, 255, 0.38)), color-stop(100%, rgba(255, 255, 255, 0.75)));
        background: -webkit-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.38) 35%, rgba(255, 255, 255, 0.75) 100%);
        background: -o-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.38) 35%, rgba(255, 255, 255, 0.75) 100%);
        background: -ms-linear-gradient(top, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.38) 35%, rgba(255, 255, 255, 0.75) 100%);
        background: linear-gradient(to bottom, rgba(237, 237, 237, 0) 0%, rgba(255, 255, 255, 0.38) 35%, rgba(255, 255, 255, 0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
    }

    .recorders-container .section-recorder .btn-container {
        text-align: center;
    }
}


@media (max-width: 1200px) {
    .inispire--box {
        float: none;
    }
}

@media (max-width: 1000px) {
    .home3 .col-sm-4 > .inispire--box {
        display: none;
    }

    .home3 .col-sm-8 {
        width: 100%;
    }
}


.postSocial--list {
    padding-bottom: 20px;
    padding-top: 20px;
}

.postSocial--list > span {
    margin-left: 20px;
}

.postSocial--list li {
    display: inline-block;
    margin-left: 10px;
}

.postSocial--list li i {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.postSocial--list li i:hover {
    color: #ff6769;
}


@media only screen and (min-width: 768px) {
    .lastest__items .post--item img {
        margin-left: 20px;
    }

    #lastest__items-fix .post--item img {
        max-width: 118px;
        max-height: 74px;
    }

    .cd-primary-nav .cd-nav-icons li {
        float: right;
        width: 25%;
        margin: 0;
    }

    .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
        font-size: 16px;
        margin-top: 0;
        padding-right: 10px;
    }

    .cd-primary-nav .cd-nav-icons .cd-nav-item p {
        padding-right: 10px;
    }

    .cd-primary-nav > li {
        margin-left: 4px;
    }

    .cd-primary-nav > li > a {
        padding: 0 8px;
    }

    .cd-primary-nav > .has-children > a {
        padding-left: 18px !important;

    }

    .cd-primary-nav .cd-secondary-nav > li {
        height: auto;
        min-height: 220px;
    }

    .cd-primary-nav a, .cd-primary-nav ul a > h6 {
        color: #000000;
    }

    .cd-primary-nav a, .cd-primary-nav ul a {
        border-bottom: 0 none;
    }

    .cd-primary-nav a:hover h6 {
        color: #ff6769;
    }

    .cd-primary-nav > li > a {
        font-size: 13px;
    }

    .cd-primary-nav a, .cd-primary-nav ul a > h6 {
        font-size: 15px;
    }


}


@media only screen and (max-width: 768px) {
    .cd-primary-nav .cd-nav-gallery .cd-nav-item, .cd-primary-nav .cd-nav-icons .cd-nav-item {
        line-height: 40px;
    }

    .cd-primary-nav .cd-nav-gallery .cd-nav-item h3, .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
        font-size: 16px;
        margin: 20px 0 0 0;
    }

    .cd-primary-nav .cd-nav-icons .cd-nav-item p {
        color: #fff;
        display: block;
        font-size: 10px;
    }
}


@media only screen and (max-width: 640px) {
    #lhc_status_container {
        position: fixed !important;
        left: 0 !important;
        right: auto !important;
        top: auto !important;
        bottom: 0 !important;
        box-shadow: none !important;
        border: 0 none !important;
        width: 80px !important;
    }

    #lhc_status_container .status-icon {
        background-position: 0 5px !important;
    }

    #lhc_status_container .lhc-text-status {
        display: block !important;
        float: right;
        margin-top: -17px;
        font-family: IRANSans !important;
        font-weight: normal !important;
    }
}


@media only screen and (max-width: 768px) {
    .lastest--news .post--item img {
        width: auto;
        margin: 0 auto;
    }
}

.list-section {
    padding: 15px 0;
}

.list-section .list-section-title {
    margin: 0 0 20px;
    border-bottom: solid 1px #c8c8c8;
    line-height: 50px;
    padding-right: 50px;
    position: relative;
    font-size: 16px;
}

.list-section .list-section-title .ic {
    width: 50px;
    height: 50px;
    font-size: 26px;
    line-height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    color: #c8c8c8;
}

.list-section .list-section-title .ic.fa-flip-horizontal {
    text-align: left;
}

.list-section .list-section-title * {
    color: #ff6868;
}

.list-section ul {
    padding: 0;
    margin: 0;
}

.list-section ul li {
    color: #5f5f5f;
    padding: 5px 0;
}

.list-section ul li:before {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #c8c8c8;
    vertical-align: middle;
    margin-left: 15px;
    content: '';
}

.list-section ul li a:not(:hover) {
    color: inherit;
}


#onesignal-popover-container #onesignal-popover-dialog {
    border-radius: 0 !important;
    font-family: iransans !important;
    direction: rtl;
    margin: 50px auto 0 !important;
}


.rpt_style_basic .rpt_plan.bardari .rpt_title,
.rpt_style_basic .rpt_plan.bardari .rpt_head {
    background: #ff6868;
}


.rpt_style_basic .rpt_plan.bardari .rpt_head .rpt_price {
    text-shadow: none;
}

.register--btn {
    text-align: left;
    float: left;
    width: 100%;
    margin: 0;
}

.register--box .social--list {
    float: left;
    margin-bottom: 8px;
}


.register--box .social--list li img {
    margin-top: 9px;
    max-width: 22px;
}

.register--box .social--list li a {
    font-size: 20px;
}


@media only screen and (max-width: 768px) {
    .wph-modal.wph-modal-active {
        display: none !important;
    }
}

.link--to--comment {
    float: left;
    font-size: 13px;
    margin-left: 20px;
}

.link--to--comment a {
    color: rgba(0, 0, 0, 0.5);
}

.app--link {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 13px 20px;
    /*position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;*/
    display: block;
}


.app--link .close {
    text-shadow: none;
    color: #fff;
    opacity: 1;
    font-size: 17px;
    margin-top: 7px;
    position: absolute;
    z-index: 999999999;
    width: 65px;
    height: 65px;
    left: 0;
    top: -7px;
    text-align: center;
    line-height: 65px;
}


.app--link img {
    max-width: 10%;
    display: inline-block;
    margin-left: 10px;
}

@media (min-width: 769px) {
    .app--link {
        display: none;
    }

}

.tel-bottom-banner {
    display: none;
}

@media (max-width: 480px) {
    .tel-bottom-banner {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .tel-bottom-banner img {
        display: block;
        width: 100%;
        vertical-align: middle;
        border: 0;
        padding: 0;
        margin: 0;
    }

}

nav.cd-nav {
    z-index: 9999;
    position: relative;
}

#lhc_status_container {
    width: 230px !important;
    padding: 0 !important;
    border-radius: 3px;
}


.header--social {
    float: left;
    margin-bottom: 5px;
    margin-top: 17px;
}

.header--social li {
    display: inline-block;
    margin-right: 10px;
}

.header--social li a {
    background: url(../images/social--icons.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.header--social li a:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.header--social .telegram a {
    background-position: 0 -3px;
}

.header--social .instagram a {
    background-position: 0 -33px;
}

.header--social .aparat a {
    background-position: 0 -61px;
}


.mobile .main--menu {
    background: #ff6868;
}


.mobile a.logo {
    float: right;
    margin-top: 3px;
}


.mobile .cd-search-trigger::before {
    border-color: #fff;
}

.mobile .cd-search-trigger::after {
    background: #ffffff;

}


.mobile .cd-nav-trigger span,
.mobile .cd-nav-trigger span::before,
.mobile .cd-nav-trigger span::after {
    background: #fff;
}

.mobile .cd-nav-trigger span {
    right: 0;
}


.mobile.register--btn {
    text-align: center;
    padding: 10px 0;
    float: none;
}


.mobile .item__page {
    margin-top: 0;
}

.list--item.mobile--list img {
    max-width: 100px;
    height: 90px;;
}


.list--item.mobile--list .list--item--mobile {
    margin-bottom: 30px;
}


.list--item.mobile--list .imageContainer {
    float: right;
    margin-left: 15px;
}


.list--item.mobile--list h2 {
    line-height: 30px;
}


/* .campain--banner{
    display: none;
} */


.campain--banner {
    /* position: fixed; */
    top: 0;
    z-index: 99999999999;
    right: 0;
    left: 0;
    /* display: none; */
    width: 100%;
    text-align: center;
}


.campain--banner.mcampain {
    top: auto;
    bottom: 0;
}

.campain--banner img {
    max-width: 100%;
}

.campain--banner .close--banner {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff;
    width: 30px;
    height: 30px;
    padding: 3px 3px 0 0;
    cursor: pointer;
    border-radius: 50%;
}


.campain--banner.mcampain {
    position: fixed;
}

.campain--banner.mcampain .close--banner {
    right: 0;
    top: -15px;
}

.single--relatedLink {
    background: #f0f0f0;
    padding: 20px;
    font-size: 16px;
    border-right: 3px solid #ff6868;
}


.single--relatedLink > br {
    display: none;
}

.single-downloadLink {
    text-align: center;
    float: right;
    width: 50%;
    padding: 0 10px;
}

.single-downloadLink img {
    max-width: 100%;
}

a.bttn-gradient {
    border: 1px solid #696767;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 30px;
    border-radius: 35px;
    color: #aba4a4;
    line-height: 33px;
    font-weight: bold;
    transition: all .2s ease-in-out .2s;
}

a.bttn-gradient:hover {
    border: 1px solid #ff6868;
    color: #ff6868;
}

a.bttn-gradient i {
    font-size: 29px;
    margin-left: 10px;
    float: right;
}

.bottom--row .top--menu li a {
    color: rgba(255, 255, 255, 0.4);
}


.interview-single-container .section-content {
    font-size: 1.1em;
}


h1, .h1 {
    font-size: 26px;
    font-weight: 600;
}


h2, .h2 {
    font-size: 24px;
    font-weight: 600;

}

h3, .h3 {
    font-size: 20px;
    font-weight: 600;
}

h4, .h4 {
    font-size: 18px;
    font-weight: 600;
}


h5, .h5 {
    font-size: 16px;
    font-weight: 600;
}

h6, .h6 {
    font-size: 14px;
    font-weight: 600;
}


.user-review-area {
    text-align: center;
}


.item--content video {
    display: block;
    margin: 0 auto;
}


.wp-review-35503 .user-review-area {
    text-align: center !important;
}


.rtl .user-review-area .review-star,
body.rtl .review-wrapper .user-review-area .wp-review-user-rating-star {
    float: none !important;
    display: inline-block !important;
}


.review-result-wrapper i {
    font-size: 22px !important;
}


/*.logo > h1 {*/
    /*position: absolute;*/
    /*right: 123px;*/
    /*top: 10px;*/
    /*font-size: 14px;*/
    /*line-height: 25px;*/
/*}*/


#mj--toc {
    margin-bottom: 30px;
    display: inline-block;
}

#mj--toc li {
    margin-bottom: 3px;
}

#mj--toc a {
    color: #369cc2;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.5s;
}

#mj--toc a:hover {
    border-bottom: 1px solid #369cc2;
    color: #369cc2;
    font-weight: bold;

}


.item--content a.auto-link,
.item--content p > a,
.item--content h2 > a,
.item--content h3 > a {
    transition: 0.5s;
    padding: 0 5px;
    border-bottom: 3px solid #369cc2;
    color: rgba(0, 0, 0, 0.8);
}


.item--content a.auto-link:hover,
.item--content p > a:hover,
.item--content h2 > a:hover,
.item--content h3 > a:hover {
    background: #369cc2;
    color: #fff;
}


.item--content p:last-child > a,
.item--content p:last-child > a:hover {
    /*background: transparent;*/
    /*border-bottom: 0 none;*/
}

.nav--mobile {
    background: #ff6868;
    color: #fff;
    padding: 0;
}

.nav--mobile i {
    color: #fff;
    font-size: 30px;
}

.mmenu--triger {
    float: right;
    margin: 5px 0 0 10px;
}

.cat-label, .tag-label, .author-label, .archive-label, .search-label {
    font-size: normal;
    padding: 3px;
    text-align: right;
}

.author-label, .search-author select {
    color: rgb(53, 122, 232);
    border-color: rgb(53, 122, 232)
}

.tag-label, .search-tag select {
    color: rgb(142, 68, 173);
    border-color: rgb(142, 68, 173)
}

.cat-label, .search-cat select {
    color: #333;
    border-color: rgb(216, 66, 55)
}

.archive-label, .archive-field input {
    color: rgb(0, 167, 83);
    border-color: rgb(0, 167, 83)
}

form.searchform ul li {
    display: inline-block;
}

form.searchform ul li ul li {
    display: list-item;
}

.search-form select, .search-form input {
    border: solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 3px;
    text-align: center
}

.search-form input {
    padding: 4px;
}

.search-submit {
    padding: 4px 10px !important;
    background: #ff5757;
    color: #fff;
}


.bottom--row ul.top--menu {
    float: left;
}



.direct--btn {
    font-size: 12px;
    background: #000;
    padding: 11px 8px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .5);
}


.direct--btn:hover {
    color: #fff;
}





.phone--list li {
    width: 50%;
    float: right;
}


.phone--list li::before {
    display: none;
}

.phone--list li a {
    background: rgba(255, 255, 255, .5);
    border-radius: 35px;
    padding: 10px 15px;
    color: rgba(255, 255, 255, .9);
    font-size: 15px;
}


.phone--list li a:hover {
    color: rgba(255, 255, 255, .9);
}


.phone--list li a i {
    margin-right: 5px;
}



.bottom--row .top--menu li a {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.bottom--row .top--menu li a i {
    font-size: 24px;
    position: relative;
    top: 6px;
}



.comment--item .comment--item {
    background: rgba(0, 0, 0, .02);
    padding-bottom: 20px;
    margin: 25px 50px 25px 0;
}

.taglist a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    margin-left: 10px;
}

.header-main-nav {
    border-bottom: solid 1px #ddd;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header-main-nav .container {
        width: 100%;
    }
}

.header-main-nav .main-nav-wrapper {
    z-index: 2147483650;
}

.header-main-nav .main-nav-ul {
    position: relative;
    display: block;
    list-style-type: none;
}

.header-main-nav .main-nav-ul:before, .header-main-nav .main-nav-ul:after {
    content: " ";
    display: table;
}

.header-main-nav .main-nav-ul:after {
    clear: both;
}

.header-main-nav .main-nav-ul > li {
    display: block;
    height: 50px;
    float: right;
}

.header-main-nav .main-nav-ul > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header-main-nav .main-nav-ul > li > a:before {
    position: absolute;
    bottom: 100%;
    right: 50%;
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #ff6868;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-main-nav .main-nav-ul > li:hover > a, .header-main-nav .main-nav-ul > li.open > a {
    color: #ff6868;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.header-main-nav .main-nav-ul > li:hover > a:before, .header-main-nav .main-nav-ul > li.open > a:before {
    width: 100%;
    right: 0;
}

.header-main-nav .main-nav-ul a {
    color: #777777;
}

.header-main-nav .main-nav-ul > li.has-sub-menu {
    position: relative;
}

.header-main-nav .main-nav-ul > li.has-sub-menu > a, .header-main-nav .main-nav-ul > li.has-mega-menu > a {
    padding-left: 30px;
    position: relative;
}

.header-main-nav .main-nav-ul > li.has-sub-menu > a:after, .header-main-nav .main-nav-ul > li.has-mega-menu > a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "\f107";
    position: absolute;
    left: 0;
    top: 0;
    line-height: inherit;
    height: inherit;
    width: 30px;
    text-align: center;
}

.header-main-nav .main-nav-ul > li > ul {
    position: absolute;
    padding: 5px 0;
    border-top: dashed 1px #ff9b9b;
}

.header-main-nav .main-nav-ul > li > ul > li > a {
    display: block;
    padding: 0 15px 0 10px;
    line-height: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-main-nav .main-nav-ul > li > ul > li > a:before {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 10px;
    content: '';
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header-main-nav .main-nav-ul > li > ul > li > a:hover {
    color: #ff6868;
    background-color: #f1f1f1;
}

.header-main-nav .main-nav-ul > li > ul > li > a:hover:before {
    -webkit-animation: nav-li-hover infinite 0.7s;
    -o-animation: nav-li-hover infinite 0.7s;
    animation: nav-li-hover infinite 0.7s;
    background-color: #ff6868;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 5px rgba(255, 104, 104, 0.2);
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul {
    width: 100%;
    padding: 0;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul:before, .header-main-nav .main-nav-ul > li.has-mega-menu > ul:after {
    content: " ";
    display: table;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul:after {
    clear: both;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li {
    float: right;
    width: 25%;
    text-align: center;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li > a {
    padding: 15px;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li > a:before {
    display: none;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li img {
    max-width: 100%;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li h3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: 20px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li.footer-link {
    display: block;
    width: 100%;
    border-top: solid 1px #eee;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li.footer-link a {
    line-height: 30px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.header-main-nav .main-nav-ul > li.has-mega-menu > ul > li.footer-link a:hover {
    background-color: #ff6868;
    color: white;
}

@media only screen and (min-width: 767px) {
    .header-main-nav .cd-search-trigger {
        z-index: 2147483651;
    }

    .header-main-nav .toggle-nav-wrapper, .header-main-nav a.logo {
        display: none !important;
    }

    .header-main-nav .main-nav-ul > li > ul {
        top: 50px;
        right: 0;
        background-color: white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        z-index: 10;
        min-width: 200px;
        visibility: hidden;
        opacity: 0;
        -webkit-transform-origin: top center;
        -moz-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .header-main-nav .main-nav-ul > li.toggle-main-menu, .header-main-nav .main-nav-ul > li.nav-item-logo, .header-main-nav .main-nav-ul > li.nav-social-list {
        display: none;
    }

    .header-main-nav .main-nav-ul > li.open > ul {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .header-phone-number {
        display: none !important;
    }
    .footer-namad {
        justify-content: flex-end!important;
    }
}

@media only screen and (max-width: 767px) {
    .header-main-nav .header-main-nav-overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2147483646;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .header-main-nav .main-nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        width: 280px;
        bottom: 0;
        height: 100%;
        overflow: auto;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .header-main-nav .main-nav-ul {
        z-index: 2147483650;
        min-height: 100%;
        padding-bottom: 50px;
    }

    .header-main-nav .main-nav-ul > li {
        float: none;
        height: auto;
    }

    .header-main-nav .main-nav-ul > li > a {
        text-align: right;
        line-height: 50px;
        height: 50px;
        border-top: dashed 1px rgba(84, 84, 84, 0.51);
        color: #727272;
    }

    .header-main-nav .main-nav-ul > li > a:before {
        bottom: 50%;
        right: 0;
        height: 0;
        width: 2px;
    }

    .header-main-nav .main-nav-ul > li:hover > a {
        box-shadow: none;
    }

    .header-main-nav .main-nav-ul > li:hover > a:before {
        width: 2px;
        right: 0;
        bottom: 0;
    }

    .header-main-nav .main-nav-ul > li:nth-child(2) > a {
        border-top: none;
    }

    .header-main-nav .main-nav-ul > li.toggle-main-menu {
        padding-bottom: 30px;
    }

    .header-main-nav .main-nav-ul > li.toggle-main-menu span {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #ff6868;
        color: white;
        font-size: 20px;
        border-radius: 0 0 0 50px;
        box-shadow: 0 0 0 10px rgba(255, 104, 104, 0.5), 0 0 0 20px rgba(255, 104, 104, 0.5);
    }

    .header-main-nav .main-nav-ul > li.toggle-main-menu span:before {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .header-main-nav .main-nav-ul > li.nav-item-logo {
        background: #ff6868;
        padding: 5px 10px 10px;
    }

    .header-main-nav .main-nav-ul > li.nav-item-logo a {
        border: none;
    }

    .header-main-nav .main-nav-ul > li.nav-item-logo img {
        max-width: 100%;
    }

    .header-main-nav .main-nav-ul > li.nav-social-list {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 46px;
        overflow: hidden;
    }

    .header-main-nav .main-nav-ul > li.nav-social-list > ul {
        border: none;
        display: table;
        table-layout: fixed;
        height: 36px;
        line-height: 36px;
        list-style-type: none;
    }

    .header-main-nav .main-nav-ul > li.nav-social-list > ul li {
        display: table-cell;
        line-height: 36px;
        height: 36px; /* &:first-child{ a{  padding-right: 0;  } } &:last-child{ a{  padding-left: 0;  } } */
    }

    .header-main-nav .main-nav-ul > li.nav-social-list > ul li a {
        line-height: 36px;
        display: block;
        padding: 0 12px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .header-main-nav .main-nav-ul > li.nav-social-list > ul li a:hover {
        color: #ff6868;
        background-color: transparent;
    }

    .header-main-nav .main-nav-ul > li.nav-social-list > ul li {
        font-size: 20px;
    }

    .header-main-nav .main-nav-ul > li.nav-social-list > ul li a:before {
        display: none;
    }

    .header-main-nav .main-nav-ul > li > ul {
        background-color: #ebebeb;
        width: 100%;
        display: none;
        position: static;
    }

    .header-main-nav .main-nav-ul > li > ul > li:not(.footer-link) > a {
        background-color: transparent;
    }

    .header-main-nav .main-nav-ul > li > ul > li a {
        color: #6c757d;
    }

    .header-main-nav .main-nav-ul > li.open > a {
        border-top-color: #ff6868;
    }

    .header-main-nav .main-nav-ul > li.open > ul {
        display: block;
        border-top-color: #ff6868;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li {
        float: none;
        width: 100%;
        text-align: right;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li > a {
        padding: 5px;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li > a:before, .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li > a:after {
        content: " ";
        display: table;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li > a:after {
        clear: both;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li > a:before {
        display: none;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li img {
        float: right;
        max-width: 50px;
        margin-left: 10px;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li h3 {
        color: white;
        font-size: 12px;
        font-weight: 400;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li.footer-link {
        border-top: none;
    }

    .header-main-nav .main-nav-ul > li.has-mega-menu > ul > li.footer-link a {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: white;
        background-color: #ff6868;
    }
}

.header-main-nav .toggle-nav-wrapper {
    height: 50px;
    width: 30px;
    position: relative;
    float: right;
}

.header-main-nav .toggle-nav-wrapper .toggle-nav {
    top: 50%;
    margin-top: -1px;
}

.header-main-nav .toggle-nav-wrapper .toggle-nav, .header-main-nav .toggle-nav-wrapper .toggle-nav:before, .header-main-nav .toggle-nav-wrapper .toggle-nav:after {
    display: block;
    position: absolute;
    right: 0;
    width: 16px;
    height: 3px;
    background-color: #5a5a5a;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.header-main-nav .toggle-nav-wrapper .toggle-nav:before, .header-main-nav .toggle-nav-wrapper .toggle-nav:after {
    content: '';
}

.header-main-nav .toggle-nav-wrapper .toggle-nav:before {
    top: -8px;
    width: 24px;
}

.header-main-nav .toggle-nav-wrapper .toggle-nav:after {
    bottom: -8px;
    width: 20px;
}

.header-main-nav .toggle-nav-wrapper .toggle-nav.open {
    background-color: transparent;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.header-main-nav .toggle-nav-wrapper .toggle-nav.open, .header-main-nav .toggle-nav-wrapper .toggle-nav.open:before, .header-main-nav .toggle-nav-wrapper .toggle-nav.open:after {
    height: 1px;
}

.header-main-nav .toggle-nav-wrapper .toggle-nav.open:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
}

.header-main-nav .toggle-nav-wrapper .toggle-nav.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    bottom: 0;
}

.header-main-nav a.logo p {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: #5a5a5a;
    font-weight: 600;
    font-size: 13px;
}

@media only screen and (max-width: 767px) {
    .open-main-menu .header-main-nav-overlay {
        visibility: visible;
        opacity: 1;
    }

    .open-main-menu .main-nav-wrapper {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .open-main-menu #lhc_status_container {
        display: none;
    }

    .cd-main-header {
        transform: none !important;
        will-change: unset !important;
    }
}

@-webkit-keyframes nav-li-hover {
    0% {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}

@-moz-keyframes nav-li-hover {
    0% {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}

@-o-keyframes nav-li-hover {
    0% {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}

@keyframes nav-li-hover {
    0% {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}

.cd-search-110 {
    top: 70px !important;
    z-index: 9999;
}


.logo .black {
    color: #5a5a5a;
    font-size: 18px;
}

.logo .red {
    color: #ff5757;
    font-size: 14px;
}

.logo > h5 {
    position: absolute;
    right: 123px;
    top: 15px;
    font-size: 14px;
    line-height: 25px;
}

@media only screen and (max-width: 768px) {
    .homebigslideshow {
        display: none;
    }

    .logo .black {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    #mobile__Slider {
        /*display: none;*/
    }
}

.series-articles-list {
    background-color: #f5f5f5;
    padding: 15px 10px 15px 20px;
    margin: 20px 0;
    max-width: 560px;
    display: block;

}

.series-articles-list li {
    list-style-type: none !important;
    position: relative;
    padding: 20px 30px 20px 0;
    border-right: solid 1px #ccc;
    margin-right: 20px !important;
    line-height: 20px;
}

.series-articles-list li:first-child {
    padding-top: 10px;
}

.series-articles-list li:first-child i {
    top: 0 !important;
}

.series-articles-list li:last-child {
    padding-bottom: 10px;
}

.series-articles-list li:last-child i {
    top: auto !important;
    bottom: 0;
}

.series-articles-list li a {
    display: block;
    color: #343434;
    padding: 0;
}

.series-articles-list li i {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: -20px;
    background: white;
    border: solid 1px #ccc;
    border-radius: 50%;
    color: #8b8b8b;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.series-articles-list li.active i,
.series-articles-list li.active a {
    color: #ff4f52;
    font-weight: 600;
}

.series-articles-list li i:before {
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

@media screen and (max-width: 800px) {
    .series-articles-list {
        margin: 0 0 15px 0;
        float: none;
    }
}

table.styled-table .mejs-container {
    width: auto !important;
}

@media screen and (max-width: 767px) {
    #najva-popup {
        bottom: 50px !important;
        border-radius: 10px !important;
        left: 2% !important;
        width: 96% !important;
    }
}


@media screen and (max-width: 480px) {
    .review-wrapper {
        margin: 20px 0 !important;
    }

    .user-review-area .user-total-wrapper {
        max-width: 100% !important;
        line-height: 24px !important;
    }

    .user-review-area .review-total-box {
        display: block;
    }
}


.black-small {
    font-size: 11px;
    display: inline-block;
    color: #7d7a7acc;
    margin-right: 10px;
}

/*====================================================
	mobile-number-input
====================================================*/
.campaign-banner {
    padding-top: 10px;
    background-color: #ffd3d4;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 120px;
    font-weight: bold;
    max-width: 550px;
    border-radius: 15px;
    margin: 15px auto 30px;
    color: white;
    overflow: hidden;
    font-size: 13px;
    line-height: initial;
    display: block;
}

.campaign-header-img img {
    max-width: 100%;
    position: absolute;
    top: 0;
}
.campaign-banner p {
    font-size: 15px!important;
}
.campaign-banner .campaign-text {
    padding: 15px;
    text-align: center;
    max-width: 530px;
    margin: auto;
    color: #0d0d0d;
}

.campaign-banner .campaign-info {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
}
.campaign-banner .btn {
    border-radius: 30px !important;
    color: white;
    background-color: #009247;
    display: inline-block;
    margin: 5px 0;
    padding: 0;
    font-size: 13px;
    width: 135px;
    height: 35px;
    line-height: 35px;
}
.campaign-banner .campaign-header-img span {
    position: relative;
    padding-top: 82%;
    display: block;
}
.campaign-banner .btn:first-child {
    margin-left: 7px;
}

.campaign-banner .btn.focus, .campaign-banner .btn:focus, .campaign-banner .btn:hover {
    box-shadow: none !important;
    color: white;
}

.campaign-banner .campaign-header-img {
    padding: 5px 15px 0;
    max-width: 380px;
    margin: auto;
}

.campaign-slider {
    max-width: 400px;
    margin: 0 auto 15px;
}

.campaign-slider .item {
    max-width: 250px;
    margin: auto;
}

.campaign-slider .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    right: 0;
    margin: 0 !important;
    border:none;
}

.campaign-slider .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    left: 0;
    margin: 0 !important;
}

.campaign-slider .owl-nav [class*=owl-] {
    color: rgba(0, 0, 0, 0.7);
    /*background-color: #ffe1e1 !important;*/
    background-color: #ffb8b9!important;
    border-radius: 4px;
    width: 20px;
    height: 45px;
    text-align: center;
}

.campaign-slider .owl-nav [class*=owl-] i {
    color: #ff6868;
    font-size: 18px !important;
    line-height: 45px;
}

.campaign-slider .owl-nav [class*='owl-']:hover {
    background: #ffbbc7 !important;
}

@media (max-width: 450px) {
    .campaign-banner {
        font-size: 12px;
        margin: 15px -10px 30px;
    }
    .campaign-banner .campaign-info p {
        font-size: 12px!important;
    }
}

@media (max-width: 350px) {
    .campaign-banner .btn {
        font-size: 11px !important;
        width: 118px;
    }
}

.phone-number-modal .modal-dialog {
    top: 35%;
    max-width: 350px;
    margin: auto;
}

.phone-number-modal .modal-dialog .modal-content {
    position: relative;
    border-radius: 15px;
}

.phone-number-modal .modal-dialog .modal-body {
    padding: 20px 15px;
}

.phone-number-modal .modal-dialog .close {
    position: absolute;
    top: 7px;
    right: 12px;
    z-index: 22;
    font-size: 30px;
    color: #959499;
    outline: none !important;
    opacity: 1;
    font-weight: 300;
    font-style: normal;
}

.phone-number-modal .modal-dialog .close:focus {
    outline: none !important;
}

.phone-number-modal .modal-dialog .close:hover {
    color: black;
}

.moshavereh-form {
    text-align: center;
}
.moshavereh-form .error {
    position: absolute;
    margin: 10px 0;
}
.moshavereh-form img {
    width: 35px;
    vertical-align: bottom;
}

.moshavereh-form .title {
    font-weight: 600;
    color: #492c76;
    font-size: 18px;
}

.moshavereh-form .mobile-number {
    max-width: 400px;
    margin: 15px auto 0;
    text-align: center;
}

.moshavereh-form .mobile-number {
    position: relative;
}

.moshavereh-form .mobile-number i {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 25px;
    color: #e3be5a;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.moshavereh-form .mobile-number .btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    border-radius: 0 30px 30px 0;
    border: none;
    box-shadow: rgba(0,0,0 , 0.2) 3px 0 7px;
}
.mobile-number:not(.has-error) .btn {
    background-color: #009247 !important;
}
.moshavereh-form .tel-form {
    direction: ltr;
    margin-bottom: 20px;
    border-radius: 30px;
}

.moshavereh-form .mobile-number .form-control {
    padding-right: 70px;
    padding-left: 40px;
    border-radius: 30px;
    height: calc(1.5em + 1rem + 10px);
    font-size: 1.5rem;
    line-height: 1.5;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px;
    border: none;
}


.moshavereh-form .mobile-number .btn.active:focus {
    outline: none !important;
}

.m-captcha {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    padding-right: 35px;
}
.m-captcha input {
    border-radius: 30px 0 0 30px!important;
    padding: 0 10px 0 20px!important;
    direction: ltr;

}
.m-captcha input::placeholder {
    font-size: 12px;
    direction: rtl;
}
.m-captcha button {
    width: 35px!important;
    padding: 0;
    line-height: 43px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 0 5px 0;
}
/*..............    PopUp-fix    ..........................*/

.PopUp-fix {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    z-index: 9999999;
}

.PopUp-fix .btn {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #f5f5f5;
    border: #5e5e5e solid 1px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: -19px;
    width: 35px;
    height: 35px;
}

.PopUp-fix i {
    font-size: 18px;
}

.PopUp-fix img {
    width: 100%;
}

@media (min-width: 425px) {
    .PopUp-fix {
        display: none !important;
    }
}

/*................................*/

.comment-page-navigation {
    background: white;
    margin-top: -30px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
}

img[data-src].lazy {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    will-change: opacity;
}

img[src].lazy {
    opacity: 1;
}

a.header-phone-number {
    color: #ffffff;
    z-index: 10;
    background: #ff6868;
    float: left;
    margin: 9px 0;
    border-radius: 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.3s ease;
}

a.header-phone-number:hover {
    background: #5ca257;
}

a.header-phone-number:hover i {
    border-color: #5ca257;
    color: #5ca257;
}

.header-phone-number i {
    width: 30px;
    height: 30px;
    text-align: center;
    border: #ff6868 solid 1px;
    border-radius: 50%;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
    background: white;
    color: #ff6868;
    transition: all 0.3s ease;
}

.header-phone-number small {
    padding: 0 10px 0 2px;
    font-size: 10px;
}

.register-login-btn {
    float: left;
    width: 100%;
    padding: 20px 5px;
    text-align: center;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
}

@media (max-width: 767px) {
    .register-login-btn {
        /*position: static;*/
        background-color: white;
        margin-top: 0;
    }

    .register-login-box {
        padding: 0 !important;
    }

    .logo .red {
        font-size: 13px;
    }

    .header-main-logo {
        display: none;
    }

    .register-login-box .help-register {
        display: none;
    }

    .nav-profile {
        display: unset !important;
    }
}

@media (max-width: 359px) {
    .header-phone-number small {
        display: none;
    }
}

@media (max-width: 410px) {
    .logo > h5 {
        right: 90px;
        top: 0;
        font-size: 14px;
    }
}

.register-login-btn a:hover,
.register-login-btn a:active,
.register-login-btn a:focus {
    color: #fff;
}

.register-login-btn a {
    display: inline-block;
    background-color: #ff6868;
    color: #fff;
    padding: 7px;
    position: relative;
    border-radius: 30px;
    width: 150px;
}

.register-login-btn a:first-child::after {
    border-radius: 30px;
    border: 1px dashed #fff;
    bottom: 3px;
    content: "";
    left: 3px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.register-login-btn a:last-child {
    background: unset;
    border: #ff6868 1px solid;
    color: #ff6868;
    padding: 6px;
    margin-right: 5px;
    font-weight: 600;
}

.cd-search-trigger span::before, .cd-search-trigger span::after {
    background: #ff6868;
}

.cd-search-trigger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    z-index: 3;
    border: #ff6868 solid 1px;
    border-radius: 50%;
    margin: 9px 10px 0 0;
}

.cd-search-trigger::before {
    border-color: #ff6868;
}

.cd-search-trigger::after {
    background: #ff6868;
}

.register-login-box .help-register {
    font-size: 12px;
    margin: auto;
    text-align: center;
}

.header {
    margin-top: 162px;
}

#header-bottom {
    border-bottom: solid 1px #929292;
    transition: all 0.5s ease;
    background-color: #f5f5f5;
    z-index: 12;
    position: absolute;
    width: 100%;
    top: 50px;
}


#header-bottom.bottom {
    position: fixed;
    top: 50px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-bottom: solid 1px #929292;
}
#header-bottom.top {
    position: fixed;
    top: -100px;
    width: 100%;
    opacity: 0;
}

.nav-profile {
    display: none;
    max-width: 42px;
    border: #ff6868 solid 1px;
    border-radius: 50%;
    margin: 3px 0 0 5px;
}

.header-profile {
    float: right;
    border: #ff6868 solid 1px;
    border-radius: 50%;
    margin: 5px 0;
}
@media (max-width: 940px) {
    .header-main-nav .main-nav-ul > li > a {
        padding: 0 6px;
       font-size: 13px;
    }
}
/*.................  single-new-relatedLink  ..............*/
.single-new-relatedLink {
    background-color: #f8f8f8;
    font-size: 14px;
    border: #e3e3e3 solid 1px;
    border-left: 5px solid #ff6666;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 10px 0;
    margin-bottom: 20px;
    padding: 5px 5px;
    padding-right: 80px;
    position: relative;
    overflow: hidden;
    min-height: 76px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.single-new-relatedLink a {
    color: #727272;
}

.single-new-relatedLink strong {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 73px;
    height: 100%;
    background-image: url(../assets/img/relatedLink.svg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.single-new-relatedLink br {
    display: none;
}

@media (min-width: 1024px) {
    .single-new-relatedLink {
        font-size: 16px;
        border-radius: 10px;
        padding: 15px 5px;
        padding-right: 150px;
        min-height: unset !important;
    }
    .single-new-relatedLink strong {
        width: 140px;
        height: 100%;
        padding: 0 40px 0 0;
    }
    .single-new-relatedLink strong:before {
        content: "\f097";
        position: absolute;
        right: 15px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 19px;
    }
    #header-bottom {
        opacity: 1!important;
        position: absolute!important;
        top: 50px!important;
    }
}
.title--border {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-top: 1px solid hsl(0, 0%, 87%);
}
.border-none {
    border: none!important;
}
.mobile-new-items {
    background: none!important;
    border: none!important;
}
.mobile-new-items img {
  height: auto;
}
.mobile-new-items .owl-stage {
   padding-right: 0!important;
}
.mobile-new-items .post--item {
    padding: 0!important;
}
.mobile-new-items .post--box {
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    color: #353B41;
    border: #e0e0e0 solid 1px;
    overflow: hidden;
}
.mobile-new-items .post--txt {
    padding: 5px 10px;
    margin: 0!important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-new-items .post--txt * {
    margin: 0!important;
    line-height: 25px;
}
.mobile-new-items .post--txt header {
    max-height: 50px;
    overflow: hidden;
    line-height: 25px;
    text-align: center;
}
.mobile-new-items .post--txt h3 {
    line-height: 25px!important;
    margin: 0;
    margin-bottom: 0!important;
    font-size: 14px;
}

.mobile-new-items a {
   color: rgba(0,0,0,0.5) !important;;
}
.banner-slider-box {
    direction: ltr!important;
    margin-bottom: 20px;
    margin-top: 20px;
}
.banner-slider-box .owl-stage {
    padding-right: 0!important;
}
.banner-slider-box .item img {
    border-radius: 10px;
}

.banner-owl-slider img {
    border-radius: 8px;
    height: auto;
}
#lastestVideos .owl-stage {
    padding-right: 0!important;
}
#lastestVideos {
    margin-bottom: 30px;
}
.video-new-item {
    padding: 10px;
    /*max-width: 75px;*/
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    color: #353B41;
    border: #e0e0e0 solid 1px;
}
.video-new-item .item__detail {
    width: 100%;
}
.video-new-item .btn {
    width: 120px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-right: auto;
    font-size: 12px;
    display: none;
}
.video-new-item .btn i {
    padding-right: 5px;
    line-height: 16px;
    font-size: 18px;
}
.video-new-image {
    min-width: 130px;
    max-width: 130px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.video-new-item .item__detail--txt {
    color: rgba(0,0,0,0.5) !important;
    font-weight: 600;
}
.item__detail {
    padding-right: 10px;
    display: flex;
    flex-flow: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.item__detail--txt {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: auto;
    color: #6b7074;
    height: 60px;
    overflow: hidden;
    margin-top: 10px;
}
.video-new-image:before {
    content: "\f04b";
    background-color: hsla(0, 0%, 0%, 0.3);
    color: hsl(0, 0%, 100%);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex!important;

}
.border-home-title {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex!important;
}
#mobile__Slider{
    /*direction:ltr;*/
    margin: 0 0 20px;
}
#mobile__Slider .owl-dots {
    margin-top: -22px;
    z-index: 200;
    position: absolute;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#mobile__Slider .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}
#mobile__Slider .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: none;
    outline: none!important;
}
#mobile__Slider .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}
#mobile__Slider .owl-dots .owl-dot span {
    -webkit-backface-visibility: visible;
    transition: all .55s;
    border-radius: 30px;
    display: inline-block;
    width: 2vw;
    height: 2vw;
    margin: 0 1vw;
    overflow: hidden;
    text-indent: -999em;
    background-color: hsla(223,8%,58%,.7);

}
#mobile__Slider .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: hsl(0, 100%, 70%);
    width: 4vw;
}
@media (min-width: 1024px) {
    .video-new-image {
        min-width: 175px;
        max-width: 175px;
        border-radius: 8px;
    }
    .video-new-item .btn {
        display: unset;
    }
    .item__detail {
        padding-right: 10px;
    }
}
/*=======================   footer   ===========================*/
.footer-header {
    background-color: #6b7074;
    padding: 10px 0;
}
.footer .title--border{
    border-color: #bdbcbc80;
}
.footer a {
    color: white;
}
.footer {
    padding-bottom: 10px;
}
.footer .border--title h2 {
    color: #a6a9ab;
    font-size: 17px;
}
/*.footer .border--title img {*/
    /*opacity: 0.5;*/
/*}*/
.footer-brands {
    display: flex;
    align-items: center;
}
.footer-slider {
    overflow-x: auto;
    flex: 1;
    display: flex;
}
.footer-slider img {
    max-height: 70px;
    margin: 0 24px;
    opacity: 0.6!important;
}
.footer-app {
    display: flex;
    padding: 20px 10px;
    color: #a6a9ab;
    max-width: 380px;
}
.footer-app img {
    max-width: 140px;
}
.footer-app h3 {
    font-size: 14px;
    margin-left: auto;
    margin-top: auto;
}
.footer-app a {
    min-width: 150px;
}
.footer-namad {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    color: #5a5f64;
}
.footer-namad div{
    width: 100px;
    margin: 2px;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
}
.footer-namad img{
    max-width: 100%;
}
.copy-right {
    text-align: center;
}
.copy-right a {
     color: #a6a9ab;
}

.footer-nav ul {
    display: flex;
    text-align: right;
    justify-content: center;
    max-width: 380px;
}
.footer-nav li {
    padding: 0 7px;
}
.footer-nav li :hover {
   color: #bdbcbc80;
}
.footer-logo {
    opacity: 0.7;
    margin-right: auto;
    display: none;
}
.border-home-title .fa {
    color: #ff6868;
    font-size: 20px;
}
.border-home-title .fa.text-gold {
    font-size: 26px;
}
.border-home-title a {
    color: #5a5a5a;
    padding-right: 10px;
}

.text-gold {
    color: #e8a300!important;
}
.footer .nav-social-list {
    text-align: center;
}
.footer .nav-social-list i ,.footer .nav-social-list  img {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #6C7175;
    border-radius: 50%;
    margin: 0 3px;
    font-size: 18px;
    transition: all .3s;
}
.footer .nav-social-list i:hover  , .footer .nav-social-list img:hover{
    background-color: #ff6868;
}
.footer .nav-social-list  img {
    padding: 6px;
}
#main-content p , #main-content ul {
    line-height: 2.2;
    font-size: 16px;
    /*text-align: right;*/
    /*margin: 0 0 0.5em!important;*/
}
#main-content p {
    overflow-wrap: break-word;
}
#main-content {
    min-height: 500px;
}
 .nav-social-list svg{
    width: 20px;
    fill: #777;
    vertical-align: middle;
}
 @media (max-width: 500px) {
     #main-content p {
        text-align: justify;
     }
 }
/*==========================  sidebar  ==================================*/
#main-sidebar {
    position: relative;
    margin-top: 3px;
    margin-bottom: 20px;
}
.sidebar-banner-box {
    text-align: center;
}
.sidebar-banner-box .banner {
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.sidebar-banner-box span {
   position: relative;
   padding-top: 39.4%;
   display: block;
   margin: 10px 0;
}
.sidebar-banner-box a {
    max-width: 400px;
    margin: auto;
    display: block;
}

.sidebar-content {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}


html, body {
    overflow-x: visible !important;
}

.sidebar-items .post--box {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    color: hsl(0, 0%, 35%);
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
    padding: 10px;
}
.sidebar-items .sidebar-item-img {
    -webkit-box-flex: 0;
    flex: 0 0 108px;
}

.sidebar-items .sidebar-item-img img {
    border-radius: 4px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    min-height: 68px;
    background: whitesmoke;
    display: block;
}

.sidebar-items .post--txt{
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-right: 10px;
    font-size: 13px;
    display: -webkit-box;
    display: flex;
    align-items: center;

}
.sidebar-items .post--txt * {
    margin: 0;
    line-height: 20px!important;
    color: #717171 !important;
    font-size: 13px!important;
    font-weight: 400!important;
}
.sidebar-items .post--txt header {
    max-height: 60px;
    line-height: 20px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .sidebar-content {
        position: relative!important;
        top: 0!important;
    }
    #main-sidebar {
       height: auto!important;
    }
}

/*=======================   comment   ===========================*/

.comment-respond p , .comment--item--title {
    max-width: 900px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}
.comment-new-item p {
    font-size: 16px;
    line-height: 2.2;
    margin-bottom: 20px;
}
.comment-new-item {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}
/*=======================   top___Slider   ===========================*/
#top___Slider {
    margin: 0 0 20px;
}
#top___Slider .owl-dots {
    margin-top: -26px;
    z-index: 200;
    position: absolute;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#top___Slider .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}
#top___Slider .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: none;
    outline: none!important;
}
#top___Slider .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}
#top___Slider .owl-dots .owl-dot span {
    -webkit-backface-visibility: visible;
    transition: all .55s;
    border-radius: 30px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 6px;
    overflow: hidden;
    text-indent: -999em;
    background-color: hsla(223,8%,58%,.7);

}
#top___Slider .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: hsl(0, 100%, 70%);
    width: 30px;
}


/*=======================   call to action   ===========================*/

.call-to-action {
    text-align: center;
    background-color: #e2f3ff;
    border: #9bd6ff solid 1px;
    padding: 10px 10px 0;
    color:#717171;
    z-index: 2;
    border-radius: 10px;
    margin: 0 -10px;
    font-weight: 500;
}
.call-to-action .img-holder {
   max-width: 500px;
    margin: auto;
}
.call-to-action .img-holder span {
    position: relative;
    padding-top: 84%;
    overflow: hidden;
    display: block;
}
.call-to-action .img-holder img {
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.call-to-action .col-12 {
    width: 100%;
}
.call-to-action span,
.call-to-action small {
    font-weight: 600;
}
.call-to-action .text-red ,
.call-to-action-anim .text-red {
    color: #ff5e5e!important;
}
.call-to-action .d-block,
.call-to-action-anim .d-block {
   display: block!important;
}
.call-to-action .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.call-to-action .title {
    padding: 0 40px;
    width: 100%;
    position: relative;
    display: block;
}
.call-to-action .title:before {
    width: 93%;
    height: 20px;
    border: #bdbdbd dashed 1px;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    content: '';
    position: absolute;
    top: 11px;
    right: 0;
    left: 0;
    margin: auto;
    /*z-index: -1;*/
}
.call-to-action .title * {
    background-color: #e2f3ff;
    position: relative;
}
.call-to-action-btn {
    background-color: #ff5e5e;
    color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    border: none;
    min-width: 180px;
    padding: 0 32px 0 22px;
    line-height: 35px;
    transition: all 0.5s ease;
    margin-left: 20px;
}
.call-to-action-btn:hover,
.call-to-action-btn:active,
.call-to-action-btn:focus {
    color: white;
    outline: none;
}
.call-to-action-btn .after {
    background-color: #ff4242;
    border-radius: 30px 0 0 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    line-height: 35px;
    padding: 0 27px 0 8px;
    font-size: 22px;

}
.call-to-action-btn .after:after {
    content: "";
    background-color: #ff5e5e;
    border-radius: 30px 0 0 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 35px;
    width: 18px;
    font-size: 19px;
}
.call-to-action-btn .before {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 15px;
}
.campaign-banner .campaign-text p {
    margin-bottom: 0;
    text-align: center!important;
    line-height: 1.7!important;
}

/*   fitamin    */
.fitamin-cta .img-holder {
    max-width: 200px;
    margin: auto;
}
.fitamin-cta .img-holder span {
    padding-top: 147%;
}
/*=======================   call to action  animated  ===========================*/

.call-to-action-anim {
    /*background-color: #f5f5f5;*/
    background-color: #e0f2ff;
    border: solid 1px #99d5ff;
    padding: 20px;
    border-radius: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.call-to-action-anim p {
    line-height: 1.8!important;
    margin-bottom: 0;
    font-size: 14px;
}
.call-to-action-anim .text-center p {
    text-align: center!important;
}
.call-to-action-anim .title ,.call-to-action-anim .text {
    text-align: center;
}
.call-to-action-anim small{
    font-weight: 600;
    font-size: 13px;
}
.call-to-action-anim .img-box {
    position: relative;
    width: 120px;
    margin: auto;
}
.call-to-action-anim .img-box svg {
    position: absolute;
    top: 33px;
    left: 74px;
    width: 9px;
    animation: swing-deg ease-in-out 2s infinite ;
    transform-origin: center 34px;
}
.call-to-action-anim img {
    max-width: 100%;
}

@keyframes swing-deg {
    0% {
        transform: rotate(-50deg);
    }
    30% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(-50deg);
    }

}
/*=======================   call to action  slider  ================*/

.call-to-action-slider{max-width:350px;margin:auto}.call-to-action-slider .owl-prev,.call-to-action-slider .owl-next{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);left:10%;width:4rem;height:4rem;font-size:17px !important;border:solid 1px !important;-webkit-transition:opacity 0.1s linear !important;transition:opacity 0.1s linear !important;border-radius:50%;color:#6b6b6b !important;background:rgba(255,255,255,0.86) !important;box-shadow:0 2px 15px 0 rgba(0,0,0,0.1)}.call-to-action-slider .owl-prev:focus,.call-to-action-slider .owl-prev:active,.call-to-action-slider .owl-next:focus,.call-to-action-slider .owl-next:active{outline:none;box-shadow:0 2px 15px 0 rgba(0,0,0,0.1)}.call-to-action-slider .owl-prev:hover,.call-to-action-slider .owl-next:hover{background-color:white !important;color:black !important}.call-to-action-slider .owl-prev{right:-18px}.call-to-action-slider .owl-next{left:-18px}.call-to-action-slider .owl-dots{z-index:200;position:absolute;display:inline-block;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.call-to-action-slider .owl-dots .owl-dot{outline:none}.call-to-action-slider .owl-dots .owl-dot span{width:7px;height:7px;margin:5px 3px;background:#bfbfbf !important;display:block;-webkit-transition:opacity 200ms ease;transition:opacity 200ms ease;border-radius:30px}.call-to-action-slider .owl-dots .owl-dot.active span{background:#ff6868 !important}.call-to-action-slider .owl-dots .owl-dot:hover span{width:7px !important}
.call-to-action-slider a {background-color: #009447;color: white;display: block;border-radius: 8px;margin: 5px 20px 10px 17px;}
.call-to-action-slider a:hover {background-color: #006f33;color: white;}
.call-to-action-slider i {line-height: 3.8rem!important;}

/*=======================   top-header  ===========================*/
#body-app {min-height: 740px;}
.top-header{width:100%;height:50px;background: rgb(47,47,47);position:fixed;top:0;z-index:15;text-align:center;overflow:hidden;display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center}.top-header img{height:50px}.top-header #close{cursor:pointer;position:absolute;top:50%;background:white;width:30px;height:30px;text-align:center;line-height:32px;border-radius:50%;font-size:23px;left:5px;border:solid 1px;-webkit-transform:translateY(-50%);transform:translateY(-50%)}#body-app.has-top-header .header{margin-top:212px}#body-app.has-top-header .header #header-bottom{top:100px !important}#body-app.has-top-header .header .header-main-nav{top:50px !important}#body-app.has-top-header .cd-search-110{top:110px !important}#body-app.has-top-header .sidebar-content{position:-webkit-sticky;position:sticky;top:160px}@media (max-width: 767px){#body-app.has-top-header .header{margin-top:174px !important}}@media (min-width: 1024px){.top-header{height:70px}.top-header img{height:70px}#body-app.has-top-header .header{margin-top:232px}#body-app.has-top-header .header .header-main-nav{top:70px !important}#body-app.has-top-header .header #header-bottom{top:120px !important}#body-app.has-top-header .cd-search-110{top:130px !important}}

/*=======================   recorder-cat  ===========================*/
.recorder-cat-img {
    position: relative;
    display: inline-block;
}
.recorder-cat-img img {
    border-radius: 5px;
}
.recorder-cat-img .diet--type {
    top: -10px!important;
    right: -6px!important;
}
.recorder-cat-row {
    text-align: center;
    border-bottom: hsl(0, 0%, 85%) solid 1px;
    padding-bottom: 15px;
}
.col-sm-12:last-child .recorder-cat-row {
    border-bottom: none;
    padding-bottom: 0;
}
.recorder-cat-row .btn {
    border-radius: 30px;
}
.recorder-cat-row a {
    color: #595959;
}
.list--item .col-sm-12:hover a {
    color: #484848!important;
}
/*================================== lastest_new_items--box ============================*/

@media (min-width: 768px) {
    .footer-nav {
        margin-top: -60px;
    }
    .recorder-cat-row {
         text-align: right!important;
     }
}
@media (min-width: 769px) {
    .lastest_new_items--box .lastest__items{
        border-radius: 10px!important;
    }
    .lastest_new_items--box img{
        border-radius: 10px!important;
    }
    .lastest_new_items--box .post-new-link {
        text-align: center;
    }
    .post-new-desc p {
        overflow: hidden;
        height: 44px;
        margin-bottom: 0!important;
    }
    .lastest_new_items--box .post-main-txt h3 {
        font-size: 17px!important;
    }
}

@media (min-width: 1024px) {
    .footer-logo {
        display: unset;
    }
    .call-to-action small {
        font-size: 100%;
    }
    .call-to-action .title {
        padding: 0 80px;
    }

}
@media (min-width: 1200px) {

    .main-post-body {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (min-width: 767px) {
    .text-sm-left{
        text-align:left !important
    }
    .text-sm-right{
        text-align:right !important
    }
}

#breadcrumbs {
    margin: 0!important;
    color: #6d6d6d!important;
    font-size: 13px!important;
    font-weight: 100;
}
#breadcrumbs a {
    color: #5d5d5d !important;
}

@media (max-width: 600px) {
    .breadcrumb_last {
        display: none;
    }
}


.user-review-area .wp-review-user-rating-star {
    float: none!important;
    /*direction: ltr!important;*/
}
.review-list .review-star, .user-review-area .review-star, .wp-review-point-type .review-total-circle .review-star, .wp-review-percentage-type .review-total-circle .review-star, .review-list .wp-review-user-feature-rating-star {
    float: none!important;
}
/*============================ video box =============================*/

.video--box video {
    max-width: 100%;
}

/*------------------------------*/
.diet--type {
    position: absolute;
    top: 0;
    right: 0;
    background: #1cbf1c;
    color: white;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
}
.diet--type:empty {
    padding: 0!important;
}
.diet--type.weight-gain {
    background: #ff9c00;
}
.diet--type.fixing {
    background: #15b0f1;
}
.diet--type.milk {
    background: #e385ef;
}
.category_description {
    border-bottom: #d9d9d9 solid 1px;padding-bottom: 15px;margin-bottom: 15px;
}
.category_description:empty {
    display: none;
}

.pepole--item .description {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: #ffcd00;
    color: black;
    padding: 0 10px;
    min-width: 50%;
}
.pepole--item .description:empty {
    display: none;
}
/*=======================   call to action  static  ================*/
.static-cta {
    display: flex;
    width: 600px;
    margin: 0 auto 20px;
    max-width: 100%;
}
.static-cta .item-wrapper {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 10px;
    background-image: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 50%);
    font-size: 18px;
    line-height: 1.5;
    height: 138px;
}
.static-cta .item-wrapper span {
    font-weight: 600;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.static-cta .item-img {
    flex: 2;
    position: relative;
    overflow: hidden;
}
.static-cta .item-img img {
    position: absolute;
    top: 50%;
    height: 100%;
    max-width: unset!important;
    right: 0;
    transform: translateY(-50%);
}
.static-cta .btn {
    background-color: #ff443a;
    color: #ffffff;
    border-radius: 20px;
    font-size: 10px;
    position: relative;
    padding: 2px 10px 2px 2px;
}
.static-cta .fa {
    font-size: 2.2em;
    vertical-align: middle;
    margin-right: 4px;
}
.static-cta.lg-item .item-wrapper {
    line-height: 1.3;
    font-size: 16px;
}

.static-cta.pregnancy .fa {
    color: #762768;
}
.static-cta.item-red .fa {
    color: #c21832;
}
.static-cta.stabilization .fa {
    color: #035d9a;
}

.static-cta.item-white .btn {
    background-color: #ffcc00;
    color: #000000;
}
.static-cta.item-white .item-wrapper,
.static-cta.text-white .item-wrapper {
    background-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%);
}

.static-cta.item-white .item-wrapper,
.static-cta.text-white .item-wrapper {
    color: #ffffff;
}

.static-cta.variation-food .item-wrapper {
    font-size: 13px;
}
.static-cta.variation-food b {
    display: block;
    font-size: 21px;
}

.static-cta.guarantee-diet .item-wrapper span {
    margin-bottom: 40px;
}
.static-cta.guarantee-diet .item-wrapper img {
    position: absolute;
    width: 35px;
    left: 50%;
    top: 37px;
    transform: translateX(-45px);
}
@media (min-width: 1024px) {
    .static-cta .item-wrapper {
        padding: 20px 10px;
        font-size: 30px;
        line-height: 2;
        height: 265px;
    }
    .static-cta .btn {
        font-size: 12px;
    }
    .static-cta.lg-item .item-wrapper {
        line-height: 1.7;
        font-size: 27px;
    }
    .static-cta.variation-food .item-wrapper {
        font-size: 22px;
    }
    .static-cta.variation-food b {
        font-size: 38px;
    }
    .static-cta.variation-food .item-img {
        flex: 1.4;
    }
    .static-cta.guarantee-diet .item-wrapper span {
        margin-bottom: 50px;
    }
    .static-cta.guarantee-diet .item-wrapper img {
        width: 50px;
        left: 38px;
        top: 106px;
        transform: translateX(0);
    }
}
