﻿@model Tuple<List<Kermany.Data.Entities.Tbl_ArticleCategory>,List<Kermany.Data.Entities.Tbl_Article>>


<li class="has-sub-menu">
    <a href="#">رژیم های دکترکرمانی </a>
    <ul>
        @foreach (var item in Model.Item2)
        {
            <li>
                <a href="/SingleArticle?@item.Id">
                    @item.Title
                </a>
            </li>
        }
    </ul>
</li>

<li class="has-sub-menu">
    <a href="#">مطالب آموزشی</a>
    <ul>
        @foreach (var item in Model.Item1)
        {
            <li>
                <a href="/Category?id=@item.Id">
                    @item.Title
                </a>
            </li>
        }
    </ul>
</li>