﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kermany</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        input, textarea {
            margin: 10px 0 !important;
        }
    </style>
</head>
<body dir="rtl">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/">Kermany</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin">
                                داشبورد
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/Tbl_Users">
                                کاربران
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/Tbl_Articles">
                                مقالات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/Tbl_ArticleCategories">
                                دسته مقالات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/Tbl_Sliders">
                                اسلایدر
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
        $("table").DataTable();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>