﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"]
    </title>

    <link rel="stylesheet" href="/css/home-bmi.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style-980521.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
</head>
<body class="rtl home blog" cz-shortcut-listen="true" dir="rtl">
    <div id="body-app">
        <header class="header">
            <nav class="header-main-nav cd-main-header">
                <div class="container">
                    <div class="visible-xs toggle-nav-wrapper"
                         onclick="$('body').addClass('open-main-menu')">
                        <span class="toggle-nav"></span>
                    </div>
                    @*<a class="cd-search-trigger" href="#cd-search"><span></span></a>*@
                    <a href="/" class="logo">
                        <img src="/image/profile.png"
                             alt="دکتر کرمانی"
                             class="nav-profile" />
                    </a>
                    <a href="/" class="logo">
                        <p>رژیم غذایی دکتر کرمانی</p>
                    </a>
                    <a href="tel:02532143" class="header-phone-number">
                        <small>تماس با ما</small><i class="fa fa-phone"></i>
                    </a>
                    <div class="main-nav-wrapper">
                        <ul class="main-nav-ul">
                            <li class="nav-item-logo">
                                <a href="/">
                                    <picture>
                                        <source type="image/webp"
                                                srcset="
                          https://kermany.com/wp-content/themes/kermany/images/beh-logo-w.webp
                        " />
                                        <source type="image/jpeg"
                                                srcset="
                          https://kermany.com/wp-content/themes/kermany/images/beh-logo-w.png
                        " />
                                        <img src="https://kermany.com/wp-content/themes/kermany/images/beh-logo-w.png"
                                             loading="lazy" />
                                    </picture>
                                </a>
                            </li>
                            <li class="active">
                                <a href="/">صفحه نخست</a>
                            </li>

                            @await Component.InvokeAsync("MenuComponent")

                            <li class="nav-social-list">
                                <ul>
                                    <li>
                                        <a href="#" class="toggle-main-menu">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/"
                                           rel="nofollow">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" rel="nofollow">
                                            <i class="fa fa-send"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header-main-nav-overlay toggle-main-menu"></div>
                </div>
            </nav>
            <div id="header-bottom" class="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 header-main-logo">
                            <a href="/" class="logo">
                                <img src="https://kermany.com/wp-content/themes/kermany/images/profile.png?v2"
                                     alt="دکتر کرمانی"
                                     class="img-responsive header-profile" />
                                <h5>
                                    <span class="black">به اندام دکتر کرمانی</span><span class="black-small">
                                        بیشتر از 20 سال در کنار شما
                                    </span><br /><span class="red">
                                        معجزه ای برای چاق ها و لاغر ها
                                    </span>
                                </h5>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-6 register-login-box">
                            <div class="register-login-btn">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="/"
                                   target="_blank"
                                   rel="nofollow"
                                   id="header-register">
                                        خوش آمدید @User.Identity.Name
                                    </a>
                                }
                                else
                                {
                                    <a href="/register"
                                   target="_blank"
                                   rel="nofollow"
                                   id="header-register">ثبت نام</a>
                                    <a href="/login"
                                   target="_blank"
                                   rel="nofollow"
                                   id="header-login">ورود</a>
                                }

                            </div>
                            <div class="help-register">
                                <span>راهنمای ثبت نام</span><span> 32143-025 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <div id="cd-search" class="cd-search cd-search-110">
                <div class="container-fluid">
                <form class="search"
                method="get"
                action="https://kermany.com"
                role="search">
                <input class="search-input"
                type="search"
                name="s"
                placeholder="جستجو..." />
                </form>
                </div>
                </div>*@
        </header>

        @RenderBody()

        <footer class="footer">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footer-app">
                            <h3 class="">نرم افزار رژیم دکتر کرمانی</h3>
                            <a href=""
                               target="_blank"
                               rel="nofollow">
                                <img src="/image/google-play-badge.svg"
                                     alt="دریافت از گوگل پلی"
                                     width="140"
                                     height="42"
                                     loading="lazy" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-namad">
                            <div>
                                <img src="/image/logo-anjooman-senfi.png"
                                     loading="lazy"
                                     alt="logo-anjooman" />
                            </div>
                            <div class="">
                                <a referrerpolicy="origin"
                                   target="_blank">
                                    <img src="/image/star1.png"
                                         loading="lazy"
                                         alt="enamad" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-nav">
                            @*<ul>
                                <li>
                                <a href="https://kermany.com/%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%a7/"
                                target="_blank">تماس با ما</a>
                                </li>
                                <li>
                                <a href="https://kermany.com/privacy-policy/"
                                target="_blank"
                                rel="nofollow">حریم خصوصی</a>
                                </li>
                                <li>
                                <a href="https://kermany.com/%d8%af%d8%b1%d8%a8%d8%a7%d8%b1%d9%87-%d8%af%da%a9%d8%aa%d8%b1-%da%a9%d8%b1%d9%85%d8%a7%d9%86%db%8c/">درباره ما</a>
                                </li>
                                </ul>*@
                        </div>
                    </div>
                    <div class="col-sm-12 d-flex">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="copy-right text-center text-sm-right">
                                    <p>کلیه حقوق متعلق به مجموعه به اندام دکتر کرمانی می باشد.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="nav-social-list text-sm-left">
                                    <a href="/" rel="nofollow">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="/" rel="nofollow">
                                        <i class="fa fa-send"></i>
                                    </a>
                                    <a href="/" rel="nofollow">
                                        <img src="/image/icon--white.svg"
                                             alt="aparat" />
                                    </a>
                                    <a href="/"
                                       rel="nofollow">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                    <a href="/" rel="nofollow">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/wp-emoji-release.min.js"></script>
    <script src="/js/autoptimize_bd46a2f4817d05741b163ab5372a99f9.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    @RenderSection("Scripts",false)
</body>
</html>
