﻿@page
@model Kermany.Pages.Admin.Tbl_Sliders.DeleteModel

@{
    ViewData["Title"] = "حذف اسلاید";
    Layout = "Shared/_AdminLayout";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Slider.Imagename)
        </dt>
        <dd class="col-sm-10">
            <img src="/Slider/@Model.Tbl_Slider.Imagename" alt="" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Slider.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_Slider.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tbl_Slider.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tbl_Slider.IsActive)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Tbl_Slider.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> 
    </form>
</div>
