﻿@page
@model Kermany.Pages.Admin.Tbl_Sliders.EditModel

@{
    ViewData["Title"] = "ویرایش اسلاید";
    Layout = "Shared/_AdminLayout";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tbl_Slider.Id" />
            <input type="hidden" asp-for="Tbl_Slider.Imagename" />
            <div class="form-group">
                <label asp-for="Tbl_Slider.Imagename" class="control-label"></label>
                <input type="file" name="imagename" class="form-control" />
                <span asp-validation-for="Tbl_Slider.Imagename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Slider.Url" class="control-label"></label>
                <input asp-for="Tbl_Slider.Url" class="form-control" />
                <span asp-validation-for="Tbl_Slider.Url" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tbl_Slider.IsActive" /> @Html.DisplayNameFor(model => model.Tbl_Slider.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
