﻿@page
@model Kermany.Pages.Admin.Tbl_Sliders.IndexModel

@{
    ViewData["Title"] = "مدیریت اسلاید ها";
    Layout = "Shared/_AdminLayout";
}


<p>
    <a asp-page="Create" class="btn btn-success btn-sm">
        ایجاد اسلاید
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Slider[0].Imagename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Slider[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Slider[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tbl_Slider)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    <img src="/Slider/@item.Imagename" style="max-width: 150px" alt="" />
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        ویرایش
                    </a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
