﻿@page
@using Kermany.Functions
@model Kermany.Pages.CategoryModel


<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="list--box" id="main-content">
                <div class="border--title">
                    <h1 style="font-size: 18px;">بیماری ها</h1>
                </div>
                <div class="list__page">
                    <div class="list--item">
                        <div class="category_description"></div>
                        <div class="row">
                            @foreach (var item in Model.Articles)
                            {
                                <div class="col-sm-12">
                                    <div class="row recorder-cat-row">
                                        <div class="col-sm-3">
                                            <div>
                                                <div class="recorder-cat-img">
                                                    <img width="185" height="114" src="/Article/@item.ImageName" class="img-responsive wp-post-image" loading="lazy" sizes="(max-width: 185px) 100vw, 185px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <header>
                                                <h2 class="mt-20">
                                                    @item.Title
                                                </h2>
                                            </header> <span class="post--date"> @item.CreateDate.ToShamsi() </span> <a href="/SingleArticle?id=@item.Id" class="btn btn-default"> ادامه مطلب <i class="fa fa-angle-left"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="main-sidebar" style="height: 1984px;">
                <div class="sidebar-content">
                    <div class="sidebar-banner-box">
                        @foreach (var item in Model.Slides)
                        {
                            <a href="@item.Url" target="_blank">
                                <span>
                                    <img class="banner sidebar-1" src="/Slider/@item.Imagename">
                                </span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>