﻿@page
@using Kermany.Data.Entities
@using Kermany.Functions
@model IndexModel
@{
    ViewData["Title"] = "خانه";

    var lstArticle = ViewData["last_articles"] as List<Tbl_Article>;
    var lstRegim = ViewData["last_regim"] as List<Tbl_Article>;
    var slides = ViewData["slides"] as List<Tbl_Slider>;
}

<div class="cd-main-content" id="app">
    <div class="top___Slider" style="padding-bottom:30px">
        <div class="owl-carousel owl-theme home_slider">
            @foreach (var item in slides)
            {
                <div class="item" data-merge="1" style="height: 500px">
                    <img src="/Slider/@item.Imagename" style="width: 100%; height: 100%;max-width: 100%" />
                </div>
            }
        </div>
    </div>
    <section class="home1">
        <div class="container-fluid">
            <div class="lastest_new_items--box">
                <div class="border--title border-home-title border-none">
                    <i class="fa fa-file-text red" aria-hidden="true"></i>
                    <h2 class="red">جدیدترین مقالات</h2>
                    <div class="title--border"></div>
                    @*<a href="https://kermany.com/category/diet-plan/" class="more">همه مقالات</a>*@
                </div>
                <div class="lastest__items article--items clearfix row">
                    @{
                        bool isFirst = true;
                    }
                    @foreach (var item in lstArticle)
                    {
                        if (isFirst)
                        {
                            <div class="post--item big--item clearfix col-12">
                                <div class="post--box">
                                    <a href="/SingleArticle?id=@item.Id" class="post-new-link">
                                        <img width="400"
                                     height="245"
                                     src="/Article/@item.ImageName"
                                     class="attachment-big-home size-big-home wp-post-image" />
                                    </a>
                                    <div class="post--txt post-main-txt">
                                        <header>
                                            <h3>
                                                <a href="/SingleArticle?id=@item.Id">
                                                    @item.Title
                                                </a>
                                            </h3>
                                        </header>
                                        <span class="post--date">
                                            @item.CreateDate.ToShamsi()
                                        </span>
                                        <article class="post--desc">
                                            <p>
                                                @item.Description
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="post--item clearfix col-12 col-md-6">
                                <div class="post--box">
                                    <a href="/SingleArticle?id=@item.Id"
                               class="post-new-link">
                                        <img width="295"
                                     height="183"
                                     src="/Article/@item.ImageName"
                                     class="attachment-clip size-clip wp-post-image" />
                                    </a>
                                    <div class="post--txt">
                                        <header>
                                            <h3>
                                                <a href="/SingleArticle?id=@item.Id">
                                                    @item.Title
                                                </a>
                                            </h3>
                                        </header>
                                        <span class="post--date">
                                            @item.CreateDate.ToShamsi()
                                        </span>
                                        <article class="post--desc post-new-desc">
                                            <p>
                                                @item.Description
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        }

                        isFirst = false;
                    }


                </div>
            </div>
        </div>
    </section>
    <section class="home-bmi">
        <div class="container-fluid" style="width: 100%">
            <div class="content-inner">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <picture>
                            <source media="(min-width:992px)"
                                    srcset="/image/BMI-d.png" />
                            <source media="(min-width:200px)"
                                    srcset="/image/BMI-d.png" />
                            <img src="/image/BMI-d.png" alt="" />
                        </picture>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="bmi-inner">
                            <form id="bmi-form" onsubmit="bmi.init(event)" class="row">
                                <div class="col-xs-6 radio-holder">
                                    <label for="female">
                                        <i class="ic ic-girl"></i> خانم هستم
                                        <input type="radio"
                                               id="female"
                                               value="female"
                                               name="gender"
                                               checked="checked" />
                                    </label>
                                </div>
                                <div class="col-xs-6 radio-holder">
                                    <label for="male">
                                        <i class="ic ic-boy"></i> آقا هستم
                                        <input type="radio"
                                               id="male"
                                               value="male"
                                               name="gender" />
                                    </label>
                                </div>
                                <div class="col-xs-6">
                                    <div class="custom-form-group">
                                        <input id="weight"
                                               type="number"
                                               class="form-control"
                                               placeholder="کیلو گرم" />
                                        <label for="weight">
                                            <i class="ic ic-vazn"></i> <span>وزن</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="custom-form-group">
                                        <input id="height"
                                               type="number"
                                               class="form-control"
                                               placeholder="سانتی متر" />
                                        <label for="height">
                                            <i class="ic ic-qad"></i> <span>قـد</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="custom-form-group">
                                        <input id="age"
                                               type="number"
                                               class="form-control"
                                               placeholder="سال" />
                                        <label for="age">
                                            <i class="ic ic-sen"></i> <span>سن</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="custom-form-group">
                                        <input id="wrist"
                                               type="number"
                                               class="form-control"
                                               placeholder="سانتی متر" />
                                        <label for="wrist">
                                            <i class="ic ic-moch"></i> <span>دور مـچ</span>
                                        </label>
                                    </div>
                                </div>
                                <small id="valid-msg"></small>
                                <div class="col-xs-12 text-center">
                                    <button class="btn"
                                            type="submit"
                                            id="bmi-calculate-main-page">
                                        محاسبـه کن
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result-inner hide__" style="display: none">
                <div class="row">
                    <div class="col-xs-12 col-md-2 col-md-offset-1">
                        <div class="result-title">
                            <h2 class="desktop">
                                گـــــزارش <br />
                                مـیـــــزان <br />
                                اضـــافـــه <br />
                                وزن شمــا
                            </h2>
                            <h2 class="mobile">گـزارش میـزان اضافه وزن شما</h2>
                            <i class="ic ic-heart"></i>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="result-item">
                            <p>
                                <span>میزان </span> <span id="r-diet-type"></span>
                                <span> شما</span>
                            </p>
                            <div class="red">
                                <span id="r-weight"></span> <small>کیلو گرم</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="result-item">
                            <p><span>وزن مناسب برای شما</span></p>
                            <div class="green">
                                <span id="normal-weight"></span> <small>کیلو گرم</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="result-item">
                            <p><span>وزن شما</span></p>
                            <div class="blue">
                                <span id="i-weight"></span> <small>کیلو گرم</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="result-item">
                            <p><span>شاخص توده بدن</span></p>
                            <div class="purple"><span id="r-bmi"></span></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="result-footer">
                            <p>پس همین الان رژیمتو شروع کن</p>
                            <a class="btn"
                               href="/register"
                               target="_blank"
                               id="bmi-register-main-page">می خوام رژیم بگیرم</a>
                            <span onclick="bmi.toggle()">
                                <i class="fa fa-repeat" aria-hidden="true"></i>دوباره
                                محسابه کن
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home2">
        <div class="container-fluid">
            <div class="lastest__items--box">
                <div class="border--title border-home-title border-none">
                    <i class="fa fa-glass" aria-hidden="true"></i>
                    <h2 class="red">
                        رژیم ها
                    </h2>
                    <div class="title--border"></div>
                    @*<a href="/" class="more">همه غذاها</a>*@
                </div>

                <div class="owl-carousel regeim_slider owl-theme" style="width: 100%;height: 300px">
                    @foreach (var item in lstRegim)
                    {
                        <div class="item">
                            <div class="post--item clearfix" style="border-radius: 10px;overflow: hidden;background-color: white;text-align: center;">
                                <div class="post--box">
                                    <a href="/SingleArticle?id=@item.Id">
                                        <img class="img-responsive"
                                         src="/Article/@item.ImageName" style="opacity: 1; max-width: 100%" />
                                    </a>
                                    <div class="post--txt">
                                        <header>
                                            <h3 style="padding: 0px 7px;">
                                                <a href="/SingleArticle?id=@item.Id" style="font-size: 15px">
                                                    @item.Title
                                                </a>
                                            </h3>
                                        </header>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </section>

</div>

@section Scripts{

<script>

    $('.home_slider').owlCarousel({
        items: 1,
        loop: true,
        margin: 10,
        merge: true,
        dots:false,
        rtl: true
    });

    $('.regeim_slider').owlCarousel({
        items: 4,
        margin: 10,
        loop: false,
        dots:false,
        rtl: true
    });
</script>
}