﻿@page
@model Kermany.Pages.LoginModel


<div class="container" id="app">
    <div class="row" style="    display: flex;justify-content: center;">
        <div class="card col-xs-12 col-md-4" style="background-color: white;
                                                         border-radius: 10px;
                                                         padding: 10px;
                                                         margin: 20px;">
            <div class="card-body">
                @if (ViewData["message"] != null)
                {
                    <div class="alert alert-primary bg-danger" role="alert">
                        <b>
                            @ViewData["message"]
                        </b>
                    </div>

                }

                <form method="post">
                    <div class="form-group">
                        <label asp-for="login.Username"></label>
                        <input class="form-control" asp-for="login.Username">
                        <span asp-validation-for="login.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="login.Password"></label>
                        <input class="form-control" asp-for="login.Password">
                        <span asp-validation-for="login.Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">ورود</button>
                </form>

            </div>
        </div>
    </div>
</div>