﻿@page
@model Kermany.Pages.RegisterModel
@{
}


<div class="container" id="app">
    <div class="row" style="    display: flex;justify-content: center;">
        <div class="card col-xs-12 col-md-4" style="background-color: white;
                                                    border-radius: 10px;
                                                    padding: 10px;
                                                    margin: 20px;">
            <div class="card-body">
                @if (ViewData["message"] != null)
                {
                    <div class="alert alert-primary bg-danger" role="alert">
                        <b>
                            @ViewData["message"]
                        </b>
                    </div>

                }

                <form method="post">
                    <div class="form-group">
                        <label asp-for="register.Username"></label>
                        <input class="form-control" asp-for="register.Username">
                        <span asp-validation-for="register.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="register.Password"></label>
                        <input class="form-control" asp-for="register.Password">
                        <span asp-validation-for="register.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="register.RePassword"></label>
                        <input class="form-control" asp-for="register.RePassword">
                        <span asp-validation-for="register.RePassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">ثبت نام</button>
                </form>

            </div>
        </div>
    </div>
</div>