﻿@page
@model Kermany.Pages.SingleArticleModel


<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" itemscope="" itemtype="http://schema.org/Article">
            <div class="item__page" id="main-content">
                <div class="border--title">
                    <h1 itemprop="headline">
                        @Model.Article.Title
                    </h1>
                    <meta itemprop="datePublished" content="2021-12-20T00:00:00+00:00">
                    <div class="item--options" style="display: flex;flex-flow: wrap;">
                        <b id="breadcrumbs">
                            <span>
                                <span>
                                    <a href="/">خانه</a> » <span>
                                        <span class="breadcrumb_last" aria-current="page">
                                            @Model.Article.Title
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </b>
                        <span class="post--date" style="margin-right: auto">تعداد بازدید :@Model.Article.VisitCount</span>
                    </div>
                </div>
                <div class="item__box clearfix main-post-body">
                    <div class="item--content" itemprop="articleBody">
                        @Html.Raw(Model.Article.Text)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="main-sidebar" style="height: 8536.78px;">
                <div class="sidebar-content">
                    <div class="related-post">
                        <div class="border--title border-home-title border-none">
                            <h2 class="red">مطالب مرتبط</h2>
                            <div class="title--border"></div>
                        </div>
                        <div class="sidebar-slider sidebar-items">
                            @foreach (var item in Model.relatedArticle)
                            {
                                <a href="/SingleArticle?id=@item.Id"
                               class="related-posts-link" target="_blank" style="display: block">
                                    <div class="post--box">
                                        <div class="sidebar-item-img">
                                            <img src="/Article/@item.ImageName">
                                        </div>
                                        <div class="post--txt">
                                            <header>
                                                <h6>
                                                    @item.Title
                                                </h6>
                                            </header>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>